<!DOCTYPE html>
<head>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('parse').onclick = () => {
            fetch('https://api.coingecko.com/api/v3/global')
            .then(response => {console.log(response); return response.json();})
            .then(data => {return data.data.market_cap_percentage;})
            .then(cur => {
                console.log(JSON.stringify(cur));
                fetch('/save',{
                    method: 'POST',
                    body: JSON.stringify(cur),
                })
            });
        }
        document.getElementById('show').onclick = () => {
            fetch('/show', {
                method: 'GET',
            })
            .then(response => response.json())
            .then(data => {
                const toRemove = document.getElementById('tempTable');
                if (toRemove) toRemove.remove();
                console.log(data);
                const table = document.createElement('table');
                table.setAttribute('border', '1');
                table.setAttribute('id', 'tempTable');
                for(var i=0; i<data.length; i++) {
                    const tableRaw = document.createElement('tr');
                    const tableData1 = document.createElement('td');
                    tableData1.innerHTML=data[i].cur;
                    tableRaw.append(tableData1);
                    const tableData2 = document.createElement('td');
                    tableData2.innerHTML=data[i].value;
                    tableRaw.append(tableData2);
                    table.append(tableRaw);
                }
                document.body.append(table);
            })
        }
        document.getElementById('delete').onclick = () => {
            const toRemove = document.getElementById('tempTable');
            if (toRemove) toRemove.remove();
        }
    })
</script>
</head>
<body>
    <button id="parse"> parse </button>
    <button id="show"> show </button>
    <button id="delete"> delete </button>
</body>